/* general */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{  
    padding: 1%;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
img{
    filter: saturate(0%);
    /* Cambia la saturacion de las imagenes */
}
body{
    padding: 0px;
}

h2{
    font-size: 2.3em;
    color: rgb(35, 31, 32);
   
}
h1{
    display: none;
}
h3{
    font-size: 1.3em;
    font-weight: lighter;
}
figcaption{
    font-style: italic;
}
p{
    font-weight: lighter;
    color: #2f3542;
}
/* header */

.suscribite{
    padding: 5%;
    background-color: #2d3436;
    color: #dfe6e9;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    
}

header{

    position: sticky;
    top: 0px;
    background-color: rgba(235, 235, 235, 0.672);
    z-index: 1;
    padding: 0% 1% 0% 1%;
}

header img{
    width: 20%;
    margin: auto;
    display: block;
}

/* navbar */
.nav-list {
    display: inline;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5% 2.7%;
    
}
.nav-list a{
    text-decoration: none;

    color: rgb(92, 92, 92);
}
.nav-list :hover{
    background-color: rgba(211, 209, 209, 0.412);
}
ul{
    text-align: center;
}
/* Princial */
.principal{
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

/* Noticias */

main{
    width: 60%;
}

main img{
    width: 100%;
}

main .news-content{
    display: flex;

}
main .news-content p{
    padding-right: 0% 1%;
    text-align: justify;
}
.subtitle{
    font-weight: lighter;
    font-size: 1.1em;
    color: #363d4d;
}
/* Aside */

aside{
    width: 30%;
    border-left: 2px solid rgba(150, 150, 150, 0.535);
}
aside .anuncios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    
}
aside figure{
    margin: 3% 0%;
}
aside img{
    width: 90%;
}
/* Form */
.suscripcion{
    margin: auto;
    border-top: 2px solid rgba(150, 150, 150, 0.535);
    background-color: rgb(242, 242, 242);
    padding: 2% 0 0 5%;
    box-shadow: 1px 5px 15px 1px rgba(186, 186, 186, 0.515) ;
    margin-bottom: 3%;
}
form{
    display: flex;
    flex-direction: column;
}
form label.user-info{
    justify-content: space-between;
    display: flex;
    width: 80%;

}
form input, form select{
    padding: 12px 20px;
    width: 80%;

}
form label.user-tipe{
    width: 25%;
}
form button{
    width: 20%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    margin: auto;
}
/* footer */